.lock-waf_linux2_build
.waf-1.8.19-b1fc8f7baef51bd2db4c2971909a568d/
build/*
.lock*
.waf*
AUTHORS
CHANGES.html
LICENSE
Makefile
RELEASE_NOTES
VERSION
bindings/
build/
doc/
examples/
log.out
rapidjson/
scratch/*
!scratch/dash-test.cc
!scratch/selfish-miner-test.cc
bindings/*
doc/*
examples/*
rapidjson/*
test.py
testpy.supp
utils.py
utils.pyc
utils/
waf
waf-tools/
waf.bat
wscript
wutils.py
wutils.pyc
README

#Files to be included

src/*
!src/applications
src/applications/helper/*
!src/applications/helper/dash*
src/applications/test

!src/applications/model/*
src/applications/model/application-packet-probe*
src/applications/model/packet*
src/applications/model/udp*
src/applications/model/seq-ts*
src/applications/model/onoff*
src/applications/model/bulk*


#!src/applications/model/dash*
#!src/applications/model/transaction*
#!src/applications/model/uint256.h
#!src/applications/model/prevector.h
#!src/applications/model/version.h
#!src/applications/model/byteswap.h
#!src/applications/model/endian.h
#!src/applications/model/sanity.h
#!src/applications/model/common.h
#!src/applications/model/serialize.h
#!src/applications/model/hash.h
#!src/applications/model/blake.c
#!src/applications/model/bmw.c
#!src/applications/model/cubehash.c
#!src/applications/model/echo.c
#!src/applications/model/groestl.c
#!src/applications/model/hmac_sha256.cpp
#!src/applications/model/bandwidth-distributions.h

!src/internet
src/internet/*
!src/internet/helper
src/internet/helper/*
!src/internet/helper/ipv4-address-helper-custom*
